@use "../../layouts/variables.scss";

@mixin element($text-width, $is-svg, $color, $height) {
	a {
		@include anchor-header($text-width, $is-svg, $color, $height);
	}
}

@mixin _hover-header($text-width) {
	width: $text-width;
	outline: none;
	background-color: var(--header-button-color-hover);
	border-color: var(--header-border-color-hover);
	& > p {
		opacity: 1;
		position: relative;
	}
}

@mixin _hover($text-width, $is-svg) {
	&:is(:hover, :focus) {
		@include _hover-header($text-width);
		@if not $is-svg {
			@media (prefers-color-scheme: dark) {
				& > img {
					filter: grayscale(0%);
					transition: filter var(--header-button-transition-time);
				}
			}
		}
		& > p {
			transition: width var(--header-button-transition-time), opacity var(--header-button-transition-time);
		}
		transition: width var(--header-button-transition-time), background-color var(--header-button-transition-time);
	}
}

@mixin _svg($text-width, $is-svg) {
	&[data-active="true"] {
		@include _hover-header($text-width);
		& > svg {
			fill: var(--header-button-svg-color-hover)
		}
	}
	&[data-active="false"] {
		@include _hover($text-width, $is-svg);
	}
	svg {
		fill: var(--header-button-svg-color);
	}
}

@mixin _img($text-width, $is-svg) {
	@include _hover($text-width, $is-svg);
	@media (prefers-color-scheme: dark) {
		img {
			filter: grayscale(100%);
			transition: filter var(--header-button-transition-time);
		}
	}
}

@mixin anchor-header($text-width, $is-svg, $color, $height) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color;
	border: 1.5px solid var(--header-border-color);
	border-radius: 10px;
	text-decoration: none;
	padding: 0 5px 0 5px;
	color: var(--text-color);
	height: $height;
	width: 35px;
	overflow: hidden;
	transition: width var(--header-button-transition-time), background-color var(--header-button-transition-time);

	@if $is-svg {
		@include _svg($text-width, $is-svg);
	} @else {
		@include _img($text-width, $is-svg);
	}

	p {
		opacity: 0;
		margin: 0 0 0 8px;
		text-wrap: nowrap;
		background: var(--header-button-text-background);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: opacity var(--header-button-transition-time);
		position: absolute;
	}
}