---
import { ArrowRight, ExternalLink } from "@lucide/astro";

interface Props {
	to: string;
	external?: boolean;
}
const { to, external } = Astro.props;
---

<a
	href={to}
	class="flex justify-between opacity-60 hover:opacity-100 transition-opacity gap-3 [&>svg]:opacity-30 [&>svg]:size-4 [&>svg]:my-auto"
>
	<slot />
	{external ? <ExternalLink /> : <ArrowRight />}
</a>

<style></style>
