---
import { ArrowRight } from "@lucide/astro";

interface Props {
	to: string;
}
const { to } = Astro.props;
---

<a
	href={to}
	class="flex justify-between opacity-60 hover:opacity-100 transition-opacity w-23"
>
	<slot />
	<ArrowRight class="size-4 my-auto" />
</a>
