@import "tailwindcss";

button:not(:disabled),
[role="button"]:not(:disabled) {
	cursor: pointer;
}

:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
