---
import Root from "../layouts/root/init.astro"
import Info from "../components/index/info.astro"
import Os from "../components/index/os.astro"
---

<Root name="Home">
	<section class="center">
		<aside>
			<img src="https://avatars.githubusercontent.com/u/80614657" alt="avatar"/>
		</aside>
		<aside>
			<h1 class="title">rhpidfyre.io</h1>
			<h2>Developer</h2>
		</aside>
	</section>
	<Info/>
	<Os/>
</Root>

<style>
	.title {
		font-size: 2.5rem;
		text-align: center;
		margin: 0;
		background: var(--header-button-text-background);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin: 300px 0 300px 0;

		aside > img {
			border: 2px solid var(--header-border-color);
			box-shadow: 8px 8px 2px 1px var(--element-shadow-color);
			height: 120px;
			width: 120px;
		}
		h2 {
			margin: 0;
		}
	}
</style>