---
import Layout from "../layouts/Layout.astro";
import Links from "../layouts/Links.astro";
import Link from "../components/button/Link.astro";
import Block from "../components/block.astro";
import GitHub from "../assets/github.svg";
import { Mail } from "@lucide/astro";
---

<Layout>
	<Links>
		<h1>rhpidfyre</h1>
		<Block />
		<div class="flex flex-col gap-3 mt-5 mb-5">
			<Link to="/projects">Projects</Link>
			<Link to="/services">Services</Link>
		</div>
		<Block />
		<div
			class="[&>a]:opacity-50 [&>a]:hover:opacity-100 [&>a]:transition-opacity flex justify-evenly items-center w-full"
		>
			<a href="mailto:brandon@rhpidfyre.io">
				<Mail />
			</a>
			<a href="https://github.com/unixtensor">
				<!-- https://icons.getbootstrap.com/icons/github/ -->
				<GitHub class="size-5" />
			</a>
		</div>
	</Links>
</Layout>
