---
import { ActivePage } from "../components/header/init.astro"
import WebPage from "../layouts/webpage.astro"
---

<WebPage current={ActivePage.Home}>
	<main>
		<h1>rhpidfyre.io</h1>
		<h2>Personal website</h2>
	</main>
</WebPage>

<style>
	main {
		display: grid;
		justify-content: center;
		align-items: center;
	}
	h1, h2 {
		text-align: center;
	}
	h2 {
		font-weight: normal;
		margin-top: 0;
	}
</style>