---
import Root from "../layouts/root/init.astro";
---

<Root current="Home">
	<section class="center">
		<aside>
			<div></div>
		</aside>
		<aside>
			<h1 class="title">rhpidfyre.io</h1>
		</aside>
	</section>
</Root>

<style lang="scss">
	@use "../layouts/root/variables.scss";

	.title {
		font-size: 2.5rem;
		text-align: center;
		margin: 0;
		background: var(--header-button-text-background);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin-bottom: variables.$header-margin-top;

		aside div {
			border: 2px solid var(--header-border-color);
			box-shadow: 8px 8px 2px 1px var(--element-shadow-color);
			border-radius: 50%;
			background-image: url("/logo.webp");
			background-size: cover;
			height: 120px;
			width: 120px;
		}
	}
</style>