---
import { ActivePage } from "../components/header/init.astro"
import WebPage from "../layouts/webpage.astro"
---

<WebPage current={ActivePage.Home}>
	<main>
		<div class="center">
			<aside class="left">
				<div></div>
			</aside>
			<aside class="right">
				<h1>rhpidfyre.io</h1>
				<h2>Personal website</h2>
			</aside>
		</div>
		<div class="bottom">

		</div>
	</main>
</WebPage>

<style lang="scss">
	@use "../scss/variables";

	main {
		display: grid;
		justify-content: center;
		align-content: center;
		height: variables.$main-size;
		gap: 80px;
	}
	h1, h2 {
		text-align: center;
		margin: 0;
	}
	h1 {
		font-size: 2.5rem;
	}

	.center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;

		.left div {
			border: 2px solid var(--header-border-color);
			box-shadow: 8px 8px 2px 1px var(--element-shadow-color);
			border-radius: 50%;
			background-image: url("/logo.webp");
			background-size: cover;
			height: 130px;
			width: 130px;
		}
		.right {

		}
	}
	.bottom {
		width: 100px;
		height: 100px;
		border: 1.5px solid var(--header-border-color);
		border-radius: 10px;
		margin-inline: auto;
	}
</style>