---
---

<footer>
	<p>{Astro.generator}</p>
	<p>{Astro.generator}</p>
</footer>

<style lang="scss">
	@use "../scss/variables";

	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: variables.$footer-height-size;
		padding: 0 10px 0 10px;
		background-color: var(--footer-color);
		border-top: 1.5px solid var(--footer-border-color);
	}
	p {
		margin: 0;
		padding: 0;
	}
</style>