---
---

<footer>
	<p>{Astro.generator}</p>
	<p>{Astro.generator}</p>
</footer>

<style>
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: 30px;
		bottom: 0;
		padding: 0 10px 0 10px;
		background-color: var(--footer-color);
		border-top: 1.5px solid var(--footer-border-color);
		position: absolute;
	}
	p {
		margin: 0;
		padding: 0;
	}
</style>