---
import HeaderButton from "./header_button.astro"
---

<header>
	<a href="https://rhpidfyre.io/">
		<img src="/logo.webp" height="50px" alt="Home">
	</a>
	<main class="box">
		<HeaderButton text="Gitea" href="https://git.rhpidfyre.io/" image="/gitea-logo.webp" image_alt="Gitea repositories" height="25px"/>
		<HeaderButton text="GitHub" href="https://github.com/unixtensor/" image="/github-mark-white.webp" image_alt="GitHub repositories" height="20px"/>
		<HeaderButton text="PufferPanel" href="https://gsm.rhpidfyre.io/" image="/pufferpanel.webp" image_alt="PufferPanel" height="25px"/>
		<HeaderButton text="Seafile" href="https://files.rhpidfyre.io/" image="/seafile.webp" image_alt="Seafile" height="25px"/>
		<HeaderButton text="AI" href="https://ai.rhpidfyre.io/" image="/open_webui.webp" image_alt="AI" height="25px"/>
		<HeaderButton text="Matrix" href="https://matrix.to/#/@rhpidfyre:matrix.rhpidfyre.io/" image="/matrix.png" image_alt="Matrix" height="25px"/>
	</main>
	<aside class="box">

	</aside>
</header>

<style>
	img {
		border: 2px solid var(--header-border-color);
		border-radius: 15px;
		margin-left: 20px;
		box-shadow: 8px 8px 2px 1px rgb(10,10,10);
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: 50px;
		margin-top: 20px;
	}
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
	.box {
		background-color: var(--header-color);
		border: 1.5px solid var(--header-border-color);
		height: inherit;
		border-radius: 15px;
		padding: 0 15px 0 15px;
		box-shadow: 8px 8px 2px 1px rgb(10,10,10);

		&:last-of-type {
			margin-right: 20px;
		}
	}
</style>