@mixin _root-text-colors($scheme) {
	@if $scheme == dark {
		--text-color: hsl(0, 0%, 78%);
		--text-color-secondary: hsl(0, 0%, 59%);
		--text-color-trinary: hsl(0, 0%, 31%);
	} @else {

	}
}

@mixin _root-header-colors($scheme) {
	@if $scheme == dark {
		--header-scroll-border-bottom-color: hsl(0, 0%, 20%);
		--header-scroll-background-color: rgba(0,0,0,.5);
		--header-button-text-background: linear-gradient(150deg, rgba(230, 230, 230, 1) 0%, rgba(150, 150, 150, 1) 100%);
		--header-button-svg-color-hover: hsl(0, 0%, 90%);
		--header-border-bottom-color: hsl(0, 0%, 0%);
		--header-button-color-hover: hsl(0, 0%, 12%);
		--header-border-color-hover: hsl(0, 0%, 16%);
		--header-button-svg-color: hsl(0, 0%, 59%);
		--header-border-color: hsl(0, 0%, 12%);
		--header-button-color: hsl(0, 0%, 8%);
		--header-color: hsl(0, 0%, 4%);

	} @else {

	}
}

@mixin _root-footer-colors($scheme) {
	@if $scheme == dark {
		--footer-button-svg-color: hsl(0, 0%, 39%);
		--footer-border-color: hsl(0, 0%, 12%);
		--footer-anchor-color: hsl(0, 0%, 39%);
		--footer-theme-active: hsl(0, 0%, 8%);
		--footer-color: hsl(0, 0%, 0%);
	} @else {

	}
}

@mixin _root-element-colors($scheme) {
	@if $scheme == dark {
		--button-svg-inactive-color: hsl(0, 0%, 12%);
		--rhpidfyre-os-background: linear-gradient(50deg, rgba(18, 18, 18, 1) 0%, rgba(0, 0, 0, 1) 100%);
		--frame-background-color: hsl(0, 0%, 7%);
		--element-shadow-color: hsl(0, 0%, 4%);
		--button-color-hover: hsl(0, 0%, 8%);
		--background-color: hsl(0, 0%, 0%);
		--button-color: hsl(0, 0%, 4%);
	} @else {
		/* --background-color: hsl(0, 0%, 100%); */
	}
}

@mixin _selection-colors($scheme) {
	@if $scheme == dark {
		--selection-background-color: hsl(0, 0%, 78%);
		--selection-outline-color: hsl(0, 0%, 70%);
		--selection-color: hsl(0, 0%, 0%);
	} @else {
		/* --selection-background-color: #0062d1;
		--selection-color: white; */
	}
}

@mixin root($scheme) {
	@include _selection-colors($scheme);
	@include _root-text-colors($scheme);
	@include _root-header-colors($scheme);
	@include _root-footer-colors($scheme);
	@include _root-element-colors($scheme);

	color-scheme: $scheme;
}