---
import { type PageName } from "../../navigation"
import JsThemeDetection from "./themeDetection.astro"
import Header from "../../components/header/init.astro"
import Footer from "../../components/footer/init.astro"
import Meta from "../../components/meta.astro"

//Avoid const enum here
export enum Theme {
	Dark,
	Light,
	Device,
}

interface Props {
	name: PageName,
}

const {name} = Astro.props
---

<html lang="en" data-theme={Theme.Dark.toString()}>
	<head>
		<Meta/>
		<link rel="icon" type="image/webp" href="/logo.webp"/>
		<title>{"rhpidfyre.io" + (name === "Home" ? "" : " | " + name)}</title>
		<!--Client theme-->
		<JsThemeDetection/>
	</head>
	<body>
		<Header active_page={name}/>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>

<style>
	main {
		display: grid;
	}
</style>

<style lang="scss" is:global>
	@forward "./global.scss";
</style>