---
import ButtonImg from "../button/img.astro"
import ThemeSelector from "./theme/init.astro"
---

<footer class="copyright-section">
	<section class="logos">
		<ThemeSelector/>
		<div class="footer-logo"></div>
		<ButtonImg
			text={Astro.generator}
			alt={Astro.generator}
			href="https://astro.build/"
			target="_blank"
			image="/footer/astro.webp"
			img_height="20px"
			height="40px"
			color="transparent"
			loading="lazy"/>
	</section>
	<a href="https://raw.githubusercontent.com/rhpidfyre-io/rhpidfyre.io/refs/heads/master/LICENSE" class="copyright">rhpidfyre-io &copy; 2025 rhpidfyre</a>
</footer>

<style>
	.copyright-section {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.copyright {
			font-size: .9rem;
			text-align: center;
			color: var(--text-color-trinary);
			text-decoration: none;
			margin: auto 0 5px 0;
		}
	}
	.logos {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.footer-logo {
		background-image: url("/logo.webp");
		background-size: cover;
		height: 40px;
		width: 40px;
		border: 1.5px solid var(--header-border-color);
		border-radius: 10px;
	}
</style>