@use "../layouts/root/colors.scss";

$ENUM_DARK:  "0";
$ENUM_LIGHT: "1";

$header-height-size: 55px;
$header-margin-top:  20px;

$index-section-padding: 100px 0 100px 0;

@mixin _motions($preference) {
	@if $preference == no-preference {
		--header-button-transition-time: .5s;
		--button-transition-leave-time: .5s;
		--button-transition-time: .3s;
	} @else {
		--header-button-transition-time: 0s;
		--button-transition-leave-time: 0s;
		--button-transition-time: 0s;
	}
}

@mixin css-root {
	@include colors.root(dark);
	@include _motions(no-preference);
	@media (prefers-color-scheme: light) {
		@include colors.root(light);
	}
	@media (prefers-reduced-motion: reduce) {
		@include _motions(reduce);
	}

	&[data-theme="#{$ENUM_DARK}"] {
		@include colors.root(dark);
	}
	&[data-theme="#{$ENUM_LIGHT}"] {
		@include colors.root(light);
	}
}