---
---

<section class="info">
	<h1>Website</h1>
</section>

<style lang="scss">
	@use "../../scss/variables.scss";

	.info {
		text-align: center;
		padding: variables.$index-section-padding;
	}
</style>