---
import "../styles/global.css";

interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scheme-light-dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{"rhpidfyre.io" + (title ? ` | ${title}` : "")}</title>
	</head>
	<body
		class="dark:bg-black m-0 flex flex-col items-center justify-center h-screen"
	>
		<slot />
	</body>
</html>
