---
import Meta from "../components/meta.astro"
import Header, {ActivePage} from "../components/header/init.astro"
import Footer from "../components/footer/init.astro"

interface Props {
	name?: string,
	current: ActivePage
}
const {name, current} = Astro.props
---

<html lang="en">
	<head>
		<Meta/>
		<link rel="icon" type="image/webp" href="/logo.webp"/>
		<title>{"rhpidfyre.io" + (name ? " | " + name : "")}</title>
	</head>
	<body>
		<Header current={current}/>
		<slot/>
		<Footer/>
	</body>
</html>

<style lang="scss" is:global>
	@use "./variables.scss";

	:root {
		@include variables.css-root;

		color-scheme: dark;
	}
	::selection {
		background-color: var(--selection-background-color);
		color: var(--selection-color);
	}
	body {
		font-family: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Twemoji Mozilla";
		box-sizing: border-box;
		margin: 0;
		background-color: var(--background-color);
		overflow-x: hidden;
	}
	h1, p {
		color: var(--text-color);
	}
	h2 {
		font-weight: normal;
		color: var(--text-color-secondary);
	}
	a {
		color: var(--text-color);

		&:active, &:visited {
			color: var(--text-color)
		}
	}
</style>